<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% [:notice, :alert].each do |level| %>
      <% if flash[level] %>
        <div class="flash"><%= flash[level] %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
